:root {
  & {
    --sans: 'Diantenjeom Sans', 'Hiragino Sans', 'Hiragino Sans GB', 'Hiragino Sans CNS', sans-serif;
    --serif:  'Diantenjeom Serif', 'Hiragino Mincho ProN', 'Songti SC', 'Songti TC', serif;

    box-sizing: border-box;
    padding-block: 4rem 10rem;
    margin: 0;

    font-size: 16px;
    font-family: var(--sans);
    text-spacing-trim: normal;
  }
  *, *::before, &::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
}

body > header {
  & {
    position: fixed;
    inset: 0 auto auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-inline: 2rem;
    block-size: 3rem;
    inline-size: 100%;
    line-height: 1;
    background-color: #f3f3f3;
    border-inline-end: 1px solid #cccccc;
  }
  label {
    block-size: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
  }
}

/* Article */
article {
  & {
    margin: auto;
    padding-inline: 1em;
    inline-size: clamp(12em, 100%, 40em);
    columns: 12em auto;
    column-gap: 2em;
    font-family: var(--sans);
    font-weight: 300;
    line-height: 1.75;
    text-align: justify;
  }
  h1 {
    & {
      font-size: 1.75em;
      font-weight: bolder;
    }
    span {
      display: block;
      font-weight: 200;
      font-size: .875rem;
    }
  }
  h2 {
    font-weight: bolder;
  }
  :where(h1, h2, h3, h4, h5, h6, p) {
    margin: 0;
  }
  p {
    & {
      text-indent: 1em;
    }
    &:first-of-type {
      text-indent: 0;
    }
  }

  /* Toggles */
  header:has(input[name="vertical"]:checked) ~ & {
    writing-mode: vertical-rl;
  }
  header:has(input[name="serif"]:checked) ~ & {
    font-family: var(--serif);
  }

  &.centered {
    --sans: 'Diantenjeom Sans Centered', 'Hiragino Sans', 'Hiragino Sans GB', 'Hiragino Sans CNS', sans-serif;
    --serif: 'Diantenjeom Serif Centered', 'Hiragino Mincho ProN', 'Songti SC', 'Songti TC', serif;
  }
  &.sc {
    --sans: 'Diantenjeom Sans SC', 'Hiragino Sans', 'Hiragino Sans GB', 'Hiragino Sans CNS', sans-serif;
    --serif: 'Diantenjeom Serif SC', 'Hiragino Mincho ProN', 'Songti SC', 'Songti TC', serif;
  }
  &.binomoto {
    --sans: 'Binomoto Sans', 'Hiragino Sans', 'Hiragino Sans GB', 'Hiragino Sans CNS', sans-serif;
    --serif: 'Binomoto Serif', 'Hiragino Mincho ProN', 'Songti SC', 'Songti TC', serif;
  }
}
